<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>My IP address</title>

</head>

<body>
    <h1>Send my IP</h1>
    <form action="/send" method="post">
        Client ip address is <input type="text" name="ip" value="<%= ip %>"><br /><br />
        Client location is <input type="text" name="location" value="<%= location %>" size="40"><br /><br />
        Current time is <input type="text" name="time" value=" <%= time %>"><br /><br />
        <input type="submit" />
    </form>
</body>

</html>